<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Bun venit la RoSpringVet</title>



</head>

<body>

	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a href="/" class="navbar-brand">
			<h1>RoSpringVet</h1>
		</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="/DespreNoi" class="nav-link">
						<h2>Despre noi</h2>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<h2>Veterinari</h2>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<h2>Adoptie animale</h2>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container my-2">			

			<div class="col-md-5 col-xs-6">
				<br>
				<h1><strong>
					Despre noi
				</strong></h1>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor nibh non ante
				ullamcorper, ut consectetur lacus pulvinar. Maecenas et bibendum magna. Nulla pharetra
				gravida nisi, ut ultrices velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Donec ac dignissim leo. Fusce vulputate libero in libero mattis eleifend. Mauris at dui ac
				ligula iaculis rutrum.</p>

				<p>Quisque nulla felis, dapibus eu velit sit amet, commodo aliquet nisl. Vestibulum vitae urna
				sit amet urna iaculis consequat a in orci. Orci varius natoque penatibus et magnis dis
				parturient montes, nascetur ridiculus mus. Etiam ultricies dui id urna pulvinar, vitae
				sollicitudin dolor tincidunt. Morbi et justo egestas, efficitur odio ut, molestie ante. Nunc
				tincidunt lectus sit amet lorem pharetra, sit amet gravida nibh euismod. Etiam eu leo augue.
				Sed ornare hendrerit ligula ac rhoncus. Morbi rutrum malesuada pharetra.<p>
			</div>
			
						<div class="col-md-5 col-xs-6">
				<strong>Date contact</strong><br>
				<div class="table-responsive">
					<table class="table table-user-information">
						<tbody>
							<tr>
								<td>
									<strong>
										Nr telefon
									</strong>
								</td>
								<td>
									0771287872
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										Email
									</strong>
								</td>
								<td>
									rospringvet@gmail.com
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

</html>